.cell-row {
    display: flex;
}
.cell {
    width: 80px;
    border: 1px solid #555;
    height: 40px;
    outline: none;
    box-sizing: border-box;
}
.cell.header {
    text-align: center;
    background: #ddd;
}
.cell.header.active {
    background: dodgerblue;
    color: white;
}
.cell:focus {
    background: #ddd;
    border: 3px solid dodgerblue;
}
#export-btn {
    background: green;
    color: white;
    border: none;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
}
